.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  background-color: transparent;
  opacity: 40%;
  border: none;
  cursor: pointer;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card__like-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
