.modal {
  display: flex;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  transition: opacity 1s linear;
  opacity: 0;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.modal__close-btn {
  height: 40px;
  width: 40px;
  opacity: 0.4;
  position: absolute;
  top: 32px;
  right: 50px;
  background-image: url(../images/close-icon.svg);
  transition: opacity 1s linear;
}

.modal__close-btn:hover {
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  height: 32px;
  width: 169px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__submit-btn {
  padding: 18px 32px;
  max-width: 156px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px rgba(33, 33, 33, 0.4) solid;
  gap: 10px;
}

.modal__input:hover {
  cursor: pointer;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: 0%;
}

@media screen and (max-width: 627px) {
  .modal__submit-btn {
    max-width: none;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__container {
    padding: 10px 0 0;
  }
}
